ul {
  list-style: none;
}

.listText {
  text-align: center;
  padding: 7% 10%;
  color: #576b76;
  font-size: 200%;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #4db8eb;
  box-shadow: 0px 3px 30px -10px rgba(0, 0, 0, 0.4);
}

.listText {
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
}

.listText:hover {
  transform: scale(1.2);
}

@media all and (min-aspect-ratio: 9/16) {
  .list {
    padding: 0.5em;
    /* max-width:14/16 */
    margin: 0px auto;
    margin-top: 0.5em;
    overflow: hidden;
  }
  .list li {
    padding: 0.5em 1%;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }

  .li-text {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 0.1em 0;
  }
}
@media all and (min-aspect-ratio: 16/16) /*(min-width: 80em) */ {
  .list li {
    width: 20%;
  }
}
