.main {
  max-width: $max-page-width;
  width: 100%;
  margin: 55px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: $small-font-size;
  text-transform: uppercase;
  flex-wrap: wrap;
  @include breakpoint(mobileonly) {
    justify-content: center;
  }
}
